body {
  margin: 0;
  font-family:'dm-sans', sans-serif;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: grid;
  grid-template-rows: 1fr,1fr,1fr,1fr;
}