#main_dash {
    display: grid;
  /* El sidebar mide 250px y el contenido toma todo el resto (1fr) */
  grid-template-columns: 250px 1fr;
  gap: 1rem;
  min-height: 100vh;
}

body{
    font-family: DM Sans, sans-serif;
}

#sidebar{
    background-color: #80B2F2;
    grid-column: 1;
    grid-row: 1/5;
    padding-top: 3dvh;
    font-size: large;
    text-align: left;
}

#sidebar li {
    color: #23518C;
    margin: 3vh 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

#sidebar ul, #triage ul {
    padding: 0;
    margin: 0;
}

.item{
    width: 80%;
}

.arrow{
    width: 20%;
}

#user-info{
    grid-column: 2/4;
    padding-top: 5dvh;
    grid-row: 1/2;
    margin-left: 3dvw;
}

#nurse-name{
    font-size: large;
    width: 100%;
}

.speciality{
    font-weight:100;
    color: gray;
    font-size: large;
    margin-top: 1dvh;
}

#session{
    grid-column: 4;
    grid-row: 1/2;
    padding-top: 5dvh;
    padding-right: 3dvw;
    display: flex;
    justify-content: space-between;
}

#profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin-right: 3dvw;
    filter:invert(70%);
}

#close-session{
    margin: 0 5vw;
    padding-top: 2dvh;
    font-size: small;
    color: #2C6CBF;
    height: min-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#triage{
    grid-column: 1;
    grid-row: 5/9;
    text-align: center;
    width: 100%;
    padding-top: 2dvh;
}

#triage ul li{ 
    list-style-type: none;
    padding: 2dvh 0 2dvh 0;
    margin: 0 2dvw;
}

.red{
    background-color: #FF7171;
}

.orange{
    background-color: #FFD071;
}

.yellow{
    background-color: #FCFEBD;
}

.green{
    background-color: #BCF5B8;
}

.blue{
    background-color: #BDCBFE;
}